*{
  box-sizing: border-box;
}
.header{
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  color: #303030;
  border-bottom: #e5e3e3 1px solid;
  padding: 10px;
}
.upload-input{
  border: 1px solid #e9e7e7;
  padding: 20px;
  font-size: 16px;
  border-radius: 10px;
  background-color: #c9c9c9;
  width: 100%;
}
.relative{
  position: relative;
  width: 80%;
}
.upload-container{
  display: flex;
  justify-content: center;
  height: 30rem;
  align-items: center;
  flex-direction: column;

}
.upload-button{
  padding: 10px;
  background-color: #5317d1;
  width: 7rem;
  font-weight: bold;
  color: #eaebef;
  border: 1px solid #a19e9e;
  border-radius: 5px;
  letter-spacing: 1px;
  margin: 5px;
}
.upload-button:hover{
  background-color: #5c1de1;
  cursor: pointer;
  color: #fbfbfb;
  border: 1px solid #c9c8c8;;
}
.error{
  color: red;
  width: 80%;
  font-size: small;
}
@media screen and (min-width: 820px) {
  .relative{
    position: relative;
    width: 40%;
  }
  .error{
    width: 40%;
  }
  .upload-button{
    position: absolute;
    top: 14px;
    right: 20px;
    margin: 0;

  }
}